debian/flexibee-server
tmp
nbproject
debian/debhelper-build-stamp
debian/abraflexi-server-backup.substvars
debian/lastversion
debian/md5sums
flexibee_*
debian/files
/.vagrant/
*_all.deb
/debian/abraflexi-server-backup/
