Source: abraflexi-server-backup
Build-Depends: debhelper (>= 7.0.50~),po-debconf,debconf
Standards-Version: 3.8.4
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional

Package: abraflexi-server-backup
Architecture: all
Depends: flexibee-server|abraflexi-server|flexibee,debconf
Section: contrib/office
Priority: optional
Homepage: https://github.com/Vitexus/abraflexi-server-backup
Description: Každodení záloha dat
 Každý den uloží zálohu firmy do /var/lib/backup/flexibee nebo jinam dle volby
